<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>

  <div class="field">
    <%= f.label :job_type %>
    <%= f.text_field :job_type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price_in_cents %>
  </div>


  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date%>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date%>
  </div>



  <div class="field">
    <%= f.label :file %>
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.check_box :status %>
    <%= f.label :completed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
