<h1>Pending Projects</h1>


<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Job type</th>
      <th>Description</th>
      <th>Start Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project.each do |project| %>
      <tr>
        <td><%= project.client %></td>
        <td><%= project.job_type %></td>
        <td><%= project.description %></td>
        <td><%= project.date_start %></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit Project', edit_project_path(project) %></td>
        <td><%= link_to 'Delete Project', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class= "go_back">
<%= link_to 'Home', root_path %> |
<%= link_to 'Back', projects_path %>
</div>
