<p id="notice"><%= notice %></p>
<div class="comments">
<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Project:</strong>
  <%= @review.project.client %>
</p>

</div>

<div class="review_links">

<%= link_to 'Edit', edit_review_path(@review) %> |

<% if @review.project.nil? %>
  <%= link_to 'Back', reviews_path %>

<% else %>
  <%= link_to 'Back', @review.project %>
<% end %>

<div>
